<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/example.js"></script>
    <title>Testing flask background</title>
</head>
<body>
<h1>Example of Flask background task</h1>
<!--<form action="/call_task" method="post">-->
<!--<button id="send" type="submit">Button</button>-->
<button id="send">Button</button>
<div id="test_result"></div>
<div id="result">The result will come here.</div>
<!--</form>-->
</body>
</html>